<div class="jumbotron text-center">
  <div class="container">
  <img class="picture" src="banner.webp">
  <h2>Lake County Physicians' Association</h2>
  <h3>Helping You To Better Health</h3>
  </div>
</div>
