<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/membership">Membership</a>
      </li>
      <li>
        <a href="/contact">Contact Us</a>
      </li>
      <li>
        <a href="/providers">Providers</a>
      </li>
      <li>
        <a href="/plan">Plan Information</a>
      </li>
      <li>
        <a href="/staff">Staff Meeting Schedule</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--li class="navbar-right">
        <a href="/contact"><span class="glyphicon glyphicon-book"></span> Contact</a>
      </li-->
    </ul>
  </div>
</nav>
