<div class="col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div>
    <ul class="nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/membership">Membership</a>
      </li>
      <li>
        <a href="/contact">Contact Us</a>
      </li>
      <li>
        <a href="/providers">Providers</a>
      </li>
      <li>
        <a href="/plan">Plan Information</a>
      </li>
      <li>
        <a href="/staff">Staff Meeting Schedule</a>
      </li>
    </ul>
  </div>
</div>
