.jumbotron {
  background: #0079C2;
  color: white;
  margin-top: -50px;
  padding-bottom: 0px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -80px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
  .jumbotron .logo {
    display: block;
    overflow: hidden;
    margin: auto; }
    .jumbotron .logo img {
      max-width: 100%; }
  .jumbotron .map {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: auto; }

.picture {
  background: #FFFFFF;
  padding: 10px;
  display: inline;
  margin: auto;
}
.log {
  background: #FFFFFF;
  display: inline;
  width: 50%;
}
.wal {
  width: 50%;
  height: 50%;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
    background: #FFFFFF;
  }

}

#sidebar {
    padding-top:50px;
    padding-bottom:1000px;
    margin-top:-30px;
    margin-right:30px;
    background: #222222;
}
