<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/banner.ejs %>
  <% include ../partials/side.ejs %>

<div class="container">
  <h3>Lake County Physicians’ Association Independent Practice Association</h3>
  <p>Providing Value Based Compassionate Quality Healthcare to Lake County,
  Illinois</p>
    
  <p>Lake County Physicians’ Association (LCPA) was founded in 1987 as a
  strategic partnership between physicians and hospitals, with a mission to
  provide community based quality, compassionate health care while driving
  excellence in the quality and efficiency of services we provide.</p>
     
  <p>Almost thirty years later, LCPA continues to fulfill this mission today
  by working collaboratively with our physicians, hospitals and other
  contracted providers to better health care easier to deliver, less costly,
  and more rewarding for all involved.</p>
      
  <p>By understanding our community and the population we serve we seek to
  deliver high quality, value-based healthcare with compassion and efficiency
  and to engage our members in care management.The Lake County Independent
  Practice Association, is a membership-based organization comprised of more
  than 250 physicians and our affiliated network providers, 
  <a href="http://www.vistahealth.com/Vista-Health-System/home.aspx">
  Vista Health System</a>
  for community care
  <a href="https://www.northshore.org/">NorthShore University Health System</a>
  for tertiary
  care services and <a href="http://www.chw.org/">
  Children's Hospital of Wisconsin</a> for pediatric tertiary
  care.  The majority of our physician members are community-based physicians
  in private practice—both primary care and specialty care practitioners.
  Approximately 40 of our members are hospital employees.</p>
       
  <p>Our physician services a customized combination of business and claims
  payment management services, targeted educational offerings; quality
  assurance programs; data analysis; and assistance with contracting and other
  requirements for a successful physician practice.  Some of our assistance
  comes in the form of hands-on help from our team of medical professionals,
  who provide direct services in high-risk or complex cases at no cost to the
  patient. Some comes in the form of data-based analysis to provide timely
  feedback and ensure continuous improvement among our physicians.</p>

</div>

</body>
</html>
