<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/banner.ejs %>
  <% include ../partials/side.ejs %>

<div class="container">
  <h3>Contact LCPA</h3>
  <p>Membership in LCPA has its benefits:</p>

  <p>Lake County Physicians’ Association (LCPA) staff stand ready to answer your
  questions and assist you with your health care needs. LCPA is open for
  business from 8:00 AM to 4:30 PM Monday – Friday and closed on weekends and
  holidays.</p>

  <p>Telephone calls regarding UM/QI and Case Management decisions are taken
  during normal business hours. After normal business hours, calls are taken
  via LCPA’s voicemail system or answering machine.</p>

  <p>Emergency Phone Number: Additionally, an emergency phone number and RN
  nursing staff are available to LCPA physicians 24 hours a day 7 days a week
  to assist Primary Care Physicians (PCPs) and Specialists when LCPA members
  require transfer to a tertiary care facility. For emergency matters,
  physicians can reach the LCPA RN nursing staff at 224-399-7775.</p>
  <br>

  <p>Mailing Address:</p>

  <p>Lake County Physicians’ Association<br>
  4189 Grove Ave<br>
  Gurnee, IL</p>
  <br>

  <p>Claims Status: <a href="eznet.innovistaportal.com">eznet.innovistaportal.com</a><br>
  Referrals/Pre-Certifications: <a href="eznet.innovistaportal.com">eznet.innovistaportal.com</a><br>
  Toll Free: 800-894-7789<br>
  Main Number: 847-360-2475<br>
  <br>
  After Hours Emergency Phone/For Member Transfers: 224-399-7775</p>

  <p>By understanding our community and the population we serve we seek to
  deliver high quality, value-based healthcare with compassionandefficiency
  and to engage our members in care management.</p>

</div>

</body>
</html>
