<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/banner.ejs %>

<div class="container">
  <img class="picture" src="Walmart.jpg">
  </br>
  LCPA Has Contracted With The Following Walmart Immediate Care Locations:
  </br>
  Walmart - Round Lake Beach - 2680 N. IL Route 83 - Phone: (224) 372-7780
  </br>
  Walmart - Mount Prospect Plaza 930 Mnt Prospect Plaza  Phone: (847) 797-1962
  </br>
  Walmart - Zion - 4000 Rte 173 - Phone: (847) 731-9617
  </br>
  Walmart - Johnsburg - 3801 Running Brook Farm - Phone: (815) 344-7741
  </br>
  Hours of Operation: M-F: 9AM to 9PM, Sat: 9AM to 5PM and Sun: 10AM  to 2PM
  </br>
  </br>
  </br>
  <img class="picture" src="Waukegan.jpg">
  </br>
  Waukegan Immediate Care - Waukegan
  </br>
  1075 N Green Bay Rd - Phone: (847) 782-7120
  </br>
  Hours of Operation: M-F 8AM-8PM; Sat/Sun 9AM-3P
  </br>
  </br>
  </br>
  <a href="/npp_health_plan-text_version_english.doc">
  NPP Health Plan, English</a>
  </br>
  <a href="/npp_health_plan-text_version_spanish.docx">
  NPP Health Plan, Spanish</a>
</div>

</body>
</html>
