<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/banner.ejs %>

<div class="container">
  <h3>Welcome!</h3>
  <p>Lake County Physicians is one of Lake County's largest Health Care
  organizations, we are privileged to have some of Lake County's top physicians
  in our IPA, from primary care and pediatricians to specialists in areas such
  as cardiology, pulmonology, orthopedics, behavioral health, and others.</p>

  <p>Our Case Management Department follows our members throughout their plan
  of care, from providing in-hospital assistance to facilitating services such
  as skilled nursing and home health care.</p>

  <p>Our Referral Coordination Department processes referrals with minimal
  turnaround time, so that our members get the care they need, when they need
  it.</p>

  <p><b>100% of Lake County Physicians' Primary Care providers have extended hours
  to better serve our members needs.</b></p>

  <p>If you are a patient or member of an HMO and are interested in joining Lake
  County's premier medical group, please call the 800 number on your plan ID
  card.</p>
</div>

</body>
</html>
