<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color:#532F8C">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-left">
  <div class="container">
    <h1>Lake County Physicians</h1>
  </div>
</div>


</body>
</html>
