<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/banner.ejs %>
  <% include ../partials/side.ejs %>

<div class="container">
  <a href="immediate-care">Immediate Care</a>
</div>

</body>
</html>
