<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/banner.ejs %>

<div class="container">
  <h3>Plan Information</h3>

  <p>There are several plans for which Lake County Physicians' Association pays
  professional claims to our participating providers for members that are
  assigned to one of our Primary Care Physicians as follows:</p>

  <p>BCBSIL HMO of Illinois
  <br>BCBSIL Blue Advantage HMO
  <br>BCBSIL Blue Precision HMO
  <br>Humana Select HMO
  <br>Human Platinum HMO
  <br>Humana IPA HMO</p>

  <p>Please note that all claims for these Plans should be mailed to: </p>

  <p>Lake County Physicians’ Association
  <br>630 East Jefferson Street
  <br>Rockford , IL 61107</p>

  <p>To bill electronically please use Payer ID#37116 or call our Claims
  Department "Arcadia" at (800) 894-7789</p>

</div>

</body>
</html>
