<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/banner.ejs %>
  <% include ../partials/side.ejs %>

<div class="container">
  <% include /tmp/plan_text.ejs %>
</div>

</body>
</html>
