<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/banner.ejs %>

<div class="container">
  <h3>About Our Providers</h3>
  <p>LCPA is privileged to have some of Lake County's top physicians in our IP
  , from primary care physicians and pediatricians to specialists in areas
  such as cardiology, pulmonology, orthopedics, behavioral health, and others.</p>
  <% include /tmp/about_our_providers.ejs %>

  <h3>For Our Providers</h3>
  <% include /tmp/for_our_providers.ejs %>

  <p><b>Utilization Management</b></p>
  <ul>
    <li>
      <a href="/2017_Complete_Referral_Guide.pdf">
      2017 Complete Referral Guide</a>
    </li>
    <li>
      <a href="/2016_UM_Plan.pdf">
      2016 UM Plan</a>
    </li>
    <li>
      <a href="/2017_Preferred_Provider_List.pdf">
      2017 Preferred Provider List</a>
    </li>
    <li>
      <a href="/2017_Pre-Certification_Protocol_and_Contact_Grid.pdf">
      2017 Pre-Certification Protocol and Contact Grid</a>
    </li>
    <li>
      <a href="/Lake_County_Physicians_Specialist_Referral_Request_to_PCP_2018.pdf">
      Lake County Physicians Specialist Referral Request to PCP 2018</a>
    </li>
    <li>
      <a href="/DME_Express_Form.pdf">
      DME Express Form</a>
    </li>
  </ul>

  <p><b>Quality Improvement</b></p>
  <p>LCPA actively participates in Quality Improvement activites to ensure our
  patients are receiving the highest quality of care possible. To assure
  quality requires both constant vigilance and always looking for and studying
  ways to improve how we serve our members. All of our physicians are required
  to participate in these studies.</p>

  <p>Below, you will find links to documents being used in this years Quality
  Improvement Studies. Should you require an item not on this list, please
  call Amanda Teigland at 847-360-2611 and we will post it for you.</p>

  <ul>
    <li>
      <a href="/ACE_ARB_List.pdf">
      ACE/ARB List
      </a>
    </li>
    <li>
      <a href="/Annual_Health_Assessment_Checklist.pdf">
      Annual Health Assessment Checklist
      </a>
    </li>
    <li>
      <a href="/Asthma_Action_Plan_Adult.pdf">
      Asthma Action Plan Adult
      </a>
    </li>
    <li>
      <a href="/Asthma_Action_Plan_Checklist.pdf">
      Asthma Action Plan Checklist
      </a>
    </li>
    <li>
      <a href="/Asthma_Control_Test.pdf">
      Asthma Control Test
      </a>
    </li>
    <li>
      <a href="/Asthma_Outreach_Letter.pdf">
      Asthma Outreach Letter
      </a>
    </li>
    <li>
      <a href="/BCBSIL_Drug_Formulary_List.pdf">
      BCBSIL Drug Formulary List
      </a>
    </li>
    <li>
      <a href="/Blue_Precision_Health_Assessment_Form_-_Child.pdf">
      Blue Precision Health Assessment Form - Child
      </a>
    </li>
    <li>
      <a href="/Blue_Precision_Health_Assessment_Form.pdf">
      Blue Precision Health Assessment Form
      </a>
    </li>
    <li>
      <a href="/Breast_Cancer_Screening_Letter_English.pdf">
      Breast Cancer Screening Letter English
      </a>
    </li>
    <li>
      <a href="/Breast_Cancer_Screening_Letter_Spanish.pdf">
      Breast Cancer Screening Letter Spanish
      </a>
    </li>
    <li>
      <a href="/Childhood_BMI_Documentation_Requirements_Letter.pdf">
      Childhood BMI Documentation Requirements Letter
      </a>
    </li>
    <li>
      <a href="/Childhood_Immunization_0-18_years_schedule.pdf">
      Childhood Immunization 0-18 years schedule
      </a>
    </li>
    <li>
      <a href="/CVD_Condition_Outreach_Letter_English.pdf">
      CVD Condition Outreach Letter English
      </a>
    </li>
    <li>
      <a href="/Diabetes_Outreach_Letter.pdf">
      Diabetes Outreach Letter
      </a>
    </li>
    <li>
      <a href="/Edgepark_Order_Form_and_Fax_Coversheet.pdf">
      Edgepark Order Form and Fax Coversheet
      </a>
    </li>
    <li>
      <a href="/Humana_Medicare_Advantage_Gold_Plus_Practitioner_Assessment_Form.pdf">
      Humana Medicare Advantage Gold Plus Practitioner Assessment Form
      </a>
    </li>
    <li>
      <a href="/Outpatient_Behavioral_Health_Treatment_Request_Form.pdf">
      Outpatient Behavioral Health Treatment Request Form
      </a>
    </li>
    <li>
      <a href="/Peds_Pharyngitis_Study_2017_Educational_Document.pdf">
      Peds Pharyngitis Study 2017 Educational Document
      </a>
    </li>
    <li>
      <a href="/Whooley_Depression_Screening_Test.pdf">
      Whooley Depression Screening Test
      </a>
    </li>
  </ul>
</div>

</body>
</html>
