<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/banner.ejs %>

<div class="container">
  <h3>About Our Providers</h3>
  <p>LCPA is privileged to have some of Lake County's top physicians in our IP
  , from primary care physicians and pediatricians to specialists in areas
  such as cardiology, pulmonology, orthopedics, behavioral health, and others.</p>
  <ul>
    <li>
      <a href="/Primary_Care_Physician_-_Pediatrician_-_OBGyn_Roster.pdf">Primary Care Physician - Pediatrician - OBGyn Roster</a>
    </li>
  </ul>

</div>

</body>
</html>
