<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/banner.ejs %>
  <% include ../partials/side.ejs %>

<div class="container">
  <h3>About Our Providers</h3>
  <p>LCPA is privileged to have some of Lake County's top physicians in our IP
  , from primary care physicians and pediatricians to specialists in areas
  such as cardiology, pulmonology, orthopedics, behavioral health, and others.</p>
  <% include /tmp/about_our_providers.ejs %>

  <h3>For Our Providers</h3>
  <% include /tmp/for_our_providers.ejs %>

  <p><b>Utilization Management</b></p>
  <% include /tmp/utilization_management.ejs %>

  <p><b>Quality Improvement</b></p>
  <p>LCPA actively participates in Quality Improvement activites to ensure our
  patients are receiving the highest quality of care possible. To assure
  quality requires both constant vigilance and always looking for and studying
  ways to improve how we serve our members. All of our physicians are required
  to participate in these studies.</p>

  <p>Below, you will find links to documents being used in this years Quality
  Improvement Studies. Should you require an item not on this list, please
  call Amanda Teigland at 847-360-2611 and we will post it for you.</p>

  <% include /tmp/quality_improvement.ejs %>
</div>

</body>
</html>
