<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/banner.ejs %>

<div class="container">
  <h3>LCPA Events</h3>
  <ul>
    <li>
      <a href="/Office_Manager_Meetings_and_Physician_Training_Schedule_2017.pdf">
      Office Manager Meetings and Physician Training Schedule 2017
      </a>
    </li>
    <li>
      <a href="/Referral_Class_Schedule_2017.pdf">
      Referral Class Schedule 2017
      </a>
    </li>
    <li>
      <a href="/2017_Quality_Improvement_Classes_Schedule.pdf">
      2017 Quality Improvement Classes Schedule
      </a>
    </li>
  </ul>

  <h3>LCPA Meeting Calendar</h3>
  <ul>
    <li>
      <a href="/LCPA_2018_Meeting_Calendar.pdf">
      LCPA 2018 Meeting Calendar
      </a>
    </li>
  </ul>
</div>

</body>
</html>
