<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/banner.ejs %>
  <% include ../partials/side.ejs %>

<div class="container">
  <h3>LCPA Events</h3>
  <% include /tmp/lcpa_events.ejs %>

  <h3>LCPA Meeting Calendar</h3>
  <% include /tmp/lcpa_meeting_calendar.ejs %>
</div>

</body>
</html>
